body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
    border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline;
    width: 60px;
}

.image1 {
    width: 100%;
    height: 830px;
    border: 0;
    position: relative;
    top: -170px;
    z-index: -1;
}

.section2 {
    background:url("/static/fondo_claim.png");
    background-size: cover;       /* For flexibility */
    height: 692px;
}

.claim {
    line-height: 25px;
}

.main-claim {
    text-align: center;
    height: 50px;
    padding-top: 150px;

}

.logo {
    position: absolute;
    left: 72px;
    top: 44px;
    z-index: 0;
}

.inicio {
    position: absolute;
    left: 735px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding-top:20px;
    float: right;
}

.menu-item {
    float: left;
    padding-left: 20px;
    display: block;
}

.header {
    height: 170px;
}